
*{
    margin: 0;
    padding: 0;
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
  }
  
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  
  .sidenav a:hover {
    color: #f1f1f1;
  }
  
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }
  .menubar{
    background-color: black;
    color: white;
  }
  .img1{
    margin-top: 2px;
    height: 25px;
    width: 50px;
    margin-right: 5px;
  }
  .inputbox{
    width: 30%;
    padding: 0 5px;
    margin: 0 10px;
    box-sizing: border-box;
  }
.wish{
  font-weight:500;
}
.login{
  text-decoration: none;
  color: white;
  margin-top: 3px;
  margin-left: 10px;
  font-weight: 500;
}
.login:hover{
  background-color: red;
  text-underline-offset: inherit;
  color: white;
  text-decoration: none;
}